@font-face {
    font-family: 'epson';
    src: url('./assets/epmarugo.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: 'epson', sans-serif;  */
    font-family: 'Times New Roman', Times, serif;
    background-color: #d3d3d3;
}

.instructions {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #c8c8c8;
    width: fit-content;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 64px;
    border: 2px outset #000000;
    padding: 12px;
    position: relative;
    /* font-family: 'epson', sans-serif; */
}

.instructions::after {
    content: '';
    background-image: url('./assets/bow3-removebg-preview.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    opacity: 1;
    z-index: 2;
    transition: opacity 1s linear;
    pointer-events: none;
}

h1 {
    text-align: center;
    /* margin-bottom: 48px; */
    font-size: 2.5em;
}

h2 {
    margin-top: 12px;
}

.banner {
    position: relative;
    z-index: 3;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: -48px;
    max-width: 350px;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

body::before {
    content: '';
    background-image: url('./assets/sno2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.4;
    /* filter: drop-shadow(5px 5px 3px rgb(0, 0, 0)); */
}

.banner::before {
    content: '';
    background-image: url('./assets/sno.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.calendar {
    display: grid;
       grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
       grid-gap: 48px;
       justify-content: center;

    max-width: 1000px;
    padding: 0 48px;
    margin: 0 auto;

}

.gift-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 12px; */
}

.gift {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url('./assets/advent2.png');
    border: 2px inset rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gift.opened {
    cursor: default;
}

.gift::after {
    content: '';
    background-image: url('./assets/TandyGift4.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    opacity: 1;
    z-index: 2;
    transition: opacity 1s linear;
}

.gift img {
    z-index: 2;
    position: relative;
    width: 40px;
    filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
    animation: float 2s ease-in infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-3px);
    }
}

.gift::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url('./assets/sparkle1.webp');
    background-size: 50px 50px;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    transition: opacity 1s linear;
}

.gift.opened::after {   
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.gift.opened {
    background-color: green;
}

.gift.opened #firstGift::after {
    content: '';
    text-shadow: 2px 2px 3px #ffffff;
    /* background-color: #ffffff; */
    color: #000000;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 55px;
    background-image: url('./assets/greenArrow_clickMe.png');
    background-size: 57px 55px;
    background-position: center;
    background-repeat: no-repeat;
    animation: 1s clickMe 1.5s ease-in-out infinite alternate;
    opacity: 1;
    transition: 1s opacity 1s linear;
}

.gift #firstGift::after {
    content: '';
    text-shadow: 2px 2px 3px #ffffff;
    /* background-color: #ffffff; */
    color: #000000;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 55px;
    background-image: url('./assets/greenArrow_clickMe.png');
    background-size: 57px 55px;
    background-position: center;
    background-repeat: no-repeat;
    animation: clickMe 1.5s ease-in-out infinite alternate;
    opacity: 0;
    transition-delay: 1s;
    transition: opacity 1s linear;

}

@keyframes clickMe {
    from {
        transform: translateY(-45px);
    }
    to {
        transform: translateY(-30px);
    }
}

.cybernetics {
    margin: 0 auto;
    width: fit-content;
    border: 2px outset black;
    background-color: #c8c8c8;
    margin-top: 24px;
    max-width: 450px;
}

.cybernetics img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#albumOfTheDay {
    margin: 0 auto;
    width: fit-content;
    border: 2px inset black;
    background-color: #c8c8c8;
    max-width: 450px;
    padding: 12px;
    font-weight: normal;
    transform: scale(0.8);
    position: relative;

    display: none;
}

#albumOfTheDay h3 {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

#albumOfTheDay img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.album-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 0.8em;
}

.album-container h4, .album-container p {
    margin: 0;
    text-align: left;
}

.album-container a {
    background-color: #2525cc;
    color: #ffffff;
    padding: 4px 8px;
}

/* Desktop: Position album in top right corner */
@media (min-width: 768px) {
    #albumOfTheDay {
        position: fixed;
        top: 20px;
        right: 20px;
        margin: 0;
        max-width: 300px;
        transform: scale(0.9);
        border-style: outset;
    }
}

@media (max-width: 600px) {
    #albumOfTheDay {
        margin-bottom: 24px;
        position: relative;
    }

    .instructions {
        /* margin-bottom: 0; */
    }
}