@font-face {
    font-family: 'epson';
    src: url('./assets/epmarugo.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: 'epson', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
    margin-bottom: 48px;
    font-size: 2.5em;
}

.banner {
    position: relative;
    z-index: 3;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: -48px;
}
body::before {
    content: '';
    background-image: url('./assets/sno2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.4;
    /* filter: drop-shadow(5px 5px 3px rgb(0, 0, 0)); */
}

.banner::before {
    content: '';
    background-image: url('./assets/sno.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.instructions {
    text-align: center;
    margin-bottom: 24px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 48px;
    width: fit-content
}

.gift-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 12px; */
}

.gift {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url('./assets/advent2.png');
    border: 2px inset rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gift.opened {
    cursor: default;
}

.gift::after {
    content: '';
    background-image: url('./assets/TandyGift4.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    opacity: 1;
    z-index: 2;
    transition: opacity 1s linear;
}

.gift img {
    z-index: 2;
    position: relative;
    width: 40px;
    filter: drop-shadow(5px 5px 3px rgb(0, 0, 0));
    animation: float 2s ease-in infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-3px);
    }
}

.gift::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url('./assets/sparkle1.webp');
    background-size: 50px 50px;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
    transition: opacity 1s linear;
}

.gift.opened::after {   
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.gift.opened {
    background-color: green;
}


